{
  "allow_exploitation": true,
  "scan_modes": [
    "port",
    "http",
    "dirbusting",
    "dns",
    "subdomain",
    "osint",
    "vulnscan"
  ],
  "target_scope": [
    "culpur.net"
  ],
  "max_runtime": 300,
  "max_threads": 10,
  "allowed_tools": [
    "nmap",
    "ffuf",
    "curl",
    "whois",
    "dig",
    "traceroute",
    "host",
    "dnsrecon",
    "theHarvester",
    "subfinder",
    "amass",
    "httprobe",
    "httpx",
    "whatweb",
    "nikto",
    "wafw00f",
    "shcheck",
    "wpscan",
    "aquatone",
    "masscan",
    "enum4linux-ng"
  ],
  "openai_api_key": "sk-proj-#################"
}
